/* App.css */
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}
/*always show input number arrows*/
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

/*::placeholder {*/
/*  color: #72243c;*/
/*  !*font-size: 15px;*!*/
/*  opacity: 0.3;*/
/*}*/

#root-portal {
  position: relative;
  z-index: 9999; /* Ensure the portal is on top of other elements */
}

button {
  font-weight: 700;
  height: 50px;
  width: 200px;
  border: solid #f0e5e9 2px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0e5e9;
  font-size: large;
}

.main-container {
  margin: 5vh 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 100vh;
}

.sub-container {
  padding: 5vh 0;
  border: solid #72243c 2px;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.sub-container > div {
  padding: 1vh 0;
}

.banner-main {
  background-color: #72243c;
  color: #f0e5e9;
  height: 50vh;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-main > h2 {
  font-weight: normal;
}

.banner-book-button {
  margin-top: 20px;
  background-color: transparent;
}

.banner-book-button:hover {
  color: #72243c;
  background-color: #f0e5e9;
  cursor: pointer;
}

.nav-bar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #72243c;
}

.nav-bar-sub {
  display: flex;
  flex-flow: row nowrap;
}

.nav-bar-sub > div {
  margin-right: 20px;
}

.nav-bar-sub > h3 {
  margin-left: 20px;
}

.label {
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  width: 200px;
}

.form-title {
  font-weight: bolder;
}

.input-box {
  font-size: large;
  text-align: center;
  height: 40px;
  width: 300px;
  border-radius: 20px;
  border: solid #72243c 1px;
}

.input-box:hover {
  cursor: pointer;
}

.error-box {
  font-size: large;
  text-align: center;
  height: 40px;
  width: 300px;
  border-radius: 20px;
  border: transparent ;
}

.capacity-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.capacity-box > input {
  height: 20px;
  width: 300px;
  accent-color: #72243c;
}

.capacity-box > input:hover {
  cursor: pointer;
}

/*input type number*/
.capacity-box > div > input {
  font-size: medium;
  text-align: center;
  height: 40px;
  width: 75px;
  border-radius: 20px;
  border: solid #72243c 1px;
}

.search-button {
  margin-top: 20px;
  background-color: #72243c;
}

.search-button:hover {
  background-color: #f0e5e9;
  border: solid #72243c 2px;
  color: #72243c;
  cursor: pointer;
}

.result-box {
  margin-top: 20px;
  background-color: white;
  color: darkslategray;
  font-weight: 700;
  height: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;

}

th {
  background-color: #f2f2f2;
}

/* Footer Component*/
.footer-box {
  background-color: #72243c;
  /* width: 100vw; */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-box > h2 {
  padding: 10px;
  border: white 1px solid
}

.footer-box > h2 > a {
  text-decoration: none;
}

.footer-main {
  font-size: 12px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 5vh 0 10vh 0;
}

.logo-bbk > img{
  height: 20vh;
}

.footer-main > div > ul {
  list-style-type: none;
  color: white;
  font-weight: 700;
}

li{
  padding: 0 0 2px 0;
}

.footer-main > div {
  padding: 20px;
}

.foot-head {
  padding: 0 0 20px 0;
}

.footer-button {
  border-radius: 50px;
  background-color: white;
  color:#00B1B0;
  font-weight: bolder;
  border: none;
  padding: 10px 60px;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.foot-subscribe > h2 {
  margin: 0 0 10px 0;
  color: white;
}

.foot-subscribe > div {
  padding: 10px 0 10px 0;
  font-size: 15px;
}

/*input {*/
/*  color: white;*/
/*  border: none;*/
/*  background-color: #00B1B0;*/
/*  border-bottom: 1px white solid;*/
/*  font-size: 15px;*/
/*}*/

textarea:focus, input:focus{
  outline: none;
}


/* Footer Component Ends */